@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application was created on a local server as a home lab using this <a href="https://www.youtube.com/watch?v=BfEjDD8mWYg/" target="_blank"> Youtube video </a> by Kasandra Kleespie. </p>
